body {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-bottom: 0px;
}

button {
    margin-top: 20px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.answers {
    flex-direction: row;
}