{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<form action="/answer" method="POST" class="col-12 bg-body-secondary text-center pb-3">
    <h1 class="bg-primary text-light">{{title}}</h1>
    <h2>{{question}}</h2>
    <div class="answers">
        {% for answer in answers %}
        <input type="radio" name="answer" id="{{answer}}" value="{{answer}}">
        <label for="{{answer}}">{{answer}}</label>
        {% endfor %}
    </div>

    {% if allow_text %}
    <div>
        <textarea id="answer-text" name="answer-text" rows="4" cols="50"></textarea>
    </div>
    {% endif %}

    <button>Next Question</button>

</form>

{% endblock %}}